/*----------JOURNAL----------*/
.post__tags {
  justify-content: flex-end;

  a {
    text-decoration: none;
  }
  svg {
    width: 1em;
    height: 1em;
  }
}

#hikeMap {
	width: 100%;
  height: 480px;
  
  @include breakpoint--small {
    height: 400px;
  }
}

/*---- Posts ----*/
.single-post {
  h2, .h2 {
    margin-top: $spacing * 2;
  }
  ul, ol {
    list-style-position: inside;
    padding-left: $spacing;
    
    li:not(:last-child) {
      margin-bottom: .5em;
    }
  }
  .responsive-iframe {
    margin-bottom: 0px;
  }
}

.single-post__footer {
  margin-top: $spacing * 6;
}