/*----------JOURNAL----------*/
.post__tags {
  justify-content: flex-end;

  a {
    text-decoration: none;
  }
  svg {
    width: 1em;
    height: 1em;
  }
}

#hikeMap {
	width: 100%;
  height: 480px;
  
  @include breakpoint--small {
    height: 400px;
  }
}

/*---- Posts ----*/
.single-post {
  h2, .h2 {
    border-bottom: 1px solid var(--heading-color);
    border-right: 1px solid var(--heading-color);
    color: var(--heading-color);
    font-size: $spacing * 1.4;
    margin-top: $spacing * 2;
    padding-right: $spacing * 2;

    @include breakpoint--small {
      padding-right: $spacing;
    }
  }
  h3, .h3 {
    border-bottom: 1px solid var(--heading-color);
    color: var(--heading-color);
    display: inline-block;
    font-size: $font__size--base;
    margin: 2em 0 1em 0;
    width: 50%;
  }
  .responsive-iframe {
    margin-bottom: 1em;
  }
  
  // Gutenberg
  .wp-block-columns {
    margin: $spacing 0;
    padding: 0px;

    .wp-block-column {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }
  }
  .wp-block-group {
    margin: $spacing * 2 0;
    padding: 0px;

    @extend .clearfix;
  }
}

.single-post__footer {
  margin-top: $spacing * 6;
}

article {
  ul, 
  ol {
    padding-left: $spacing * 2;
  
    li:not(:last-child) {
      margin-bottom: .5em;
    }
  }
}