.page-template-portfolio-item .slider-vertical__left {
  .slick-slide {
    font-size: $font__size--m;
    
    @include breakpoint--medium {
      font-size: $font__size--base;
    }
    
  }
}
.page-template-portfolio-item .slider-vertical__right {
  // Child slider
  .slider {
    margin: 0px;
    visibility: hidden;
    // transition: visibility .2s ease;

    &.slick-initialized {
      visibility: visible;
    }

    .slick-slide {
      img {
        margin: 0 auto;
        max-height: 540px;

        @include breakpoint--medium {
          max-height: 400px;
        }
        @include breakpoint--small {
          max-height: 320px;
        }
      }

      iframe {
        width: 100%;
        height: 360px;
      }
      // .slide-iframe {
      //   height: 0;
      //   // overflow: hidden;
      //   padding-bottom: 66.667%; // 4:6
      //   position: relative;

      //   iframe {
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     width: 100%;
      //     height: 100%;
      //     // border: 0;
      //   }
      // }
    }

    .slick-prev,
    .slick-next {
      margin: 0px;
    }
  }
}