.page-template-portfolio-sidebar {
  .skip-link {
    margin: 0px;
    left: 0;
    top: 0;
  }
  
  #pageContent {
    display: none;
    overflow-y: scroll;
    width: 100%;

    @include breakpoint--small {
      overflow-y: initial;
    }

    .content:not(.has-grid) {
      max-width: 900px;

      img,
      figure {
        @include breakpoint--medium-large {
          width: 100%;
        }
      }
    }
  }
}
.page-template-portfolio-sidebar.page-child {
  #pageContent {
    background-color: var(--bg-color);
    border-left: 1px solid var(--border-color);
    display: block;
    //height: 100%;

    @include breakpoint--small {
      border: none;
    }

    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-color: c('white');
      border-left: 1px solid c('black');
    }
  }
}
.page-template-portfolio-sidebar h1 {
  color: var(--heading-color);
  font-family: $font--main;
  font-weight: $font__weight;
  letter-spacing: unset;
  text-transform: uppercase;

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    color: c('black');
  }
}
.page-template-portfolio-sidebar .masonry {
  opacity: 0;
  width: 100%;
  transition: opacity 1s ease;

  &.loaded {
    opacity: 1;
  }
  .grid-item,
  .grid-sizer {
    width: calc(33% - ((16px * 2) * .333));

    @include breakpoint--large {
      width: calc(50% - (16px / 2));
    }
    @include breakpoint--medium-large {
      width: 100%;
    }
  }
  .grid-item {
    margin-bottom: $spacing * .5;

    img {
      cursor: pointer;
    }
  }
}