/*----------STORE----------*/
html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2.ecwid-SingleProduct-v2-centered.loaded {
	float: left !important;
	font-size: inherit !important;
	max-width: none;
	width: 100%;
}

html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 {
	color: #fff !important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-optionPanel label.ecwid-fieldLabel {
	color: #fff !important;
}
html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--primary {
	background-color: #7a133e !important;
}
html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--primary:hover {
	background-color: #1f1f1f !important;
}
html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 div[customprop="addtobag"] {
	margin-bottom: 0 !important;
}
html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 .ecwid-SingleProduct-options {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
html#ecwid_html body#ecwid_body div.ecwid-fieldEnvelope-label {
	color: #db1c45 !important;
	font-size: .9em !important;
}

/*-----Media Grid-----*/
/*reposition loader*/
.mg_loader {
	top: 120px !important;
}
/*hide slider controls*/
.galleria-mg-play, #mg_socials {display: none;}
/*hide overlay item type*/
.mgi_item_type_ol {display:none;}
/*overlay title element*/
.mgi_ol_tit_wrap {
    -webkit-transform: rotate(0) scale(1) !important;
    -moz-transform: rotate(0) scale(1)!important;
    -o-transform: rotate(0) scale(1)!important;
    -ms-transform: rotate(0) scale(1)!important;
    transform: rotate(0) scale(1)!important;
	opacity: 1 !important;
    top: 0 !important;
    text-transform: uppercase;
    margin-top: 0;
    background: #363636;
    background: rgba(0,0,0,.3);
    word-wrap: break-word;
    display: block;
	position: relative;
    z-index: 12 !important;
	opacity: 1 !important;
	height: auto !important;
}
.mg_mobile_mode .mg_overlay_tit {
    font-size: 1.1em;
}
#photoPortfolio .mg_overlay_tit,
#imageGrid .mg_overlay_tit {display:none !important;} /* Single images in a grid do not show title */
/*lightbox thumbnails*/
.mg_galleria_slider_wrap .galleria-thumbnails .galleria-image {border-radius: 0 !important; border: none !important;}
/*lightbox socials*/
#mg_socials {margin-top: 0 !important;}
#mg_socials.mgls_minimal span::before {font-size: .9em !important;}
/*lightbox title*/
.mg_item_title {margin: 0 !important;}
/*lightbox image*/
.mg_item_featured img {border-radius: 0 !important;}
/*lightbox image caption*/
.mg_galleria_slider_light .galleria-info-title {
	background: none !important;
	margin: 0 auto !important;
	box-shadow: none !important;
}
.galleria-info-text {
	bottom: 0 !important;
	text-align: center !important;	
}
.mg_galleria_slider_light .galleria-info-description {
	color: #fff !important;
	background: #000 !important;
	background: rgba(0,0,0,.6) !important;
}
/*touchSwipe next album title*/
#mg_lb_inside_nav > * > div {
	top: 5px !important;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 80% !important;
	text-transform: uppercase !important;
}
/*what is this??*/
.mg_item_content > br {
	display: none !important;
}