.page-template-portfolio-item .slider-vertical__right {
  // Child slider
  .slider {
    margin: 0px;

    .slick-slide {
      img {
        margin-bottom: $spacing * .5;
        width: 100%;

        &.is-vertical {
          max-height: 540px;
          width: auto;
        }

        @include breakpoint--medium {
          max-height: 400px;
        }
        @include breakpoint--small {
          max-height: 320px;
        }
      }
      .responsive-iframe {
        margin-bottom: $spacing * .5;
      }
    }

    .slick-prev,
    .slick-next {
      margin: 0px;
    }
  }
}