/*--------- RESUME ---------*/
.resume-section {
  margin-bottom: $spacing * 2;
  min-height: calc(100px + #{$spacing / 2} + #{$spacing});
  position: relative; 

  h2 {
    border-bottom: 1px solid c('black');
  }

  // Corner graphic element
  @include accent-graphic;
}
.resume-section .wp-block-column {
  margin-top: 0;

  ul {
    margin-top: 0;

    a {
      text-decoration: none;
    }
  }
  p, ul {
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
  }
}
.resume-section__employer-list .wp-block-column:not(:last-child),
.resume-section__skills-list .wp-block-column:not(:last-child) {
  @include breakpoint--small {
    padding-bottom: $spacing;
  }
}
.resume-section-info__employer {
  font-size: 1.4rem; 
  text-transform: uppercase;

  a {
    color: c('black');
    text-decoration: none;
  }
  &:not(:first-of-type) {
    padding-top: $spacing;
  }
}
.resume-section-info__employer, 
.resume-section-info__role {
  margin-bottom: 0;
}
.resume-section-info__date-loc {
  color: lighten(c('black'),10%);
  font-size: $font__size--s;
}
.resume-section__project-list {
  font-size: $font__size--s;
  line-height: 1.4;

  &--full {
    p {
      padding: $spacing;
    }
  }
}
#experience .resume-section__employer-list {
  padding-top: $spacing;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .resume-section:before,
  .resume-section:after {
    background-color: transparent;
  }
}