/*--------- RESUME ---------*/
.resume-section {
  margin-bottom: $spacing * 2;
  min-height: calc(100px + #{$spacing / 2} + #{$spacing});
  position: relative; 

  h2 {
    border-bottom: 1px solid c('black');
  }

  // Corner graphic element
  // TODO: Make this a mixin?
  &:before {
    background-color: c('cream');
    border-radius: $spacing / 2;
    clip-path: polygon(
      0px 0px,
      100px 0px,
      0px 100px,
      0px 0px
    );
    content: '';
    display: block;
    position: absolute;
    top: -$spacing / 2;
    right: 0;
    bottom: 0;
    left: -$spacing / 2;
    z-index: -10;
  }
  &:after {
    background-color: c('cream');
    border-radius: $spacing / 2;
    clip-path: polygon(
      calc(100px + #{$spacing / 4}) 0px,
      calc(100px + #{$spacing / 4} + #{$spacing / 2}) 0px,
      0px calc(100px + #{$spacing / 4} + #{$spacing / 2}),
      0px calc(100px + #{$spacing / 4})
    );
    content: '';
    display: block;
    position: absolute;
    top: -$spacing / 2;
    right: 0;
    bottom: 0;
    left: -$spacing / 2;
    z-index: -10;
  }
}
.resume-section .wp-block-column {
  p {
    margin-bottom: 0;
  }
}
.resume-section-info__employer {
  font-size: 1.4rem; 
  text-transform: uppercase;

  a {
    color: c('black');
    text-decoration: none;
  }
}
.resume-section-info__employer, 
.resume-section-info__role {
  margin-bottom: 0;
}
.resume-section-info__date-loc {
  color: lighten(c('black'),10%);
  font-size: $font__size--s;
}

.resume-block {
	padding-left: 1em;
	margin: 1em 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.resume-block p {padding: 0; margin: 0;}
.resume-block div {margin-top: 1em;}
.resume-block ul {margin: .6em 1em;}
.date {color: #a2a2a2; font-size: .85em;}
.list-title {margin-left: 2.2em !important; text-transform: uppercase;}
.project-list {margin-left: 3.6em !important;}
.project-list,
.content-panel ul,
.content-panel ol {list-style-position: inside; margin: 1em 0;}
.project-list li,
.content-panel ul li,
.content-panel ol li {margin-top: .25em; margin-bottom: .25em;}
.project-list li {color: #a2a2a2;}
.fa-li {color: #a2a2a2;}
.flex-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.resume-block a:link,
.resume-block a:visited {color: #ffffff !important;}
.resume-block a:hover,
.resume-block a:active {color: #a2a2a2 !important;}