.clearfix {
  content: ""; 
  display: table; 
  clear: both;
}
.hide-accessible,
.screen-reader-text { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}
img,
figure {
  max-width: 100%; 
  height: auto;

  @include breakpoint--medium {
    width: 100%;
  }
}
figcaption {
  color: lighten(c('black'),10%);
  font-size: $font__size--xs;
}
figure.alignright, 
img.alignright,
iframe.alignright,
.wp-caption.alignright {
  float: right; 
  margin: 0em 0 $spacing $spacing;

  @include breakpoint--medium {
    margin: 0 0 $spacing 0 !important;
  }
}
figure.alignleft, 
img.alignleft,
iframe.alignleft,
.wp-caption.alignleft {
  float: left; 
  margin: 0em $spacing $spacing 0;

  @include breakpoint--medium {
    margin: 0 0 $spacing 0 !important;
  }
}
img.aligncenter,
iframe.aligncenter,
.wp-caption.aligncenter {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}