/*---------- GENERAL ----------*/
html {
  overflow-x: hidden;

  &.has-sidebar {
    overflow-y: hidden;

    @include breakpoint--small {
      overflow-y: auto;
    }
  }
}
html, body {
  height: 100%;
}
body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%; // Don't zoom in on device rotate

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-color: c('white');
  }
}
body:not(.home) main {
  margin-top: $navbarHeight;

  @include breakpoint--small {
    margin-top: calc(#{$navbarHeight} + #{$spacing} + #{$spacing} + 1px);
  }
}
body.has-sidebar {
  flex-direction: row;
  min-height: 100vh;

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    min-height: 100px;
  }
  
  &.page-child {
    min-height: 0px;

    @include breakpoint--small {
      flex-direction: column;
    }

    main {
      @include breakpoint--small {
        flex: 1 0 auto;
      }
    }
  }
  main {
    margin-top: 0px;

    @include breakpoint--small {
      margin-top: 0px;
    }
  }
  .section {
    padding-right: $spacing * 2;
  }
}
body:not(.has-sidebar) {
  main {
    flex: 1 0 auto;

    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 1px;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &--center {
    align-items: center;
    justify-content: center;
  }
  &--column {
    flex-direction: column;
  }
  &--nowrap {
    flex-wrap: nowrap;
  }
  &--space {
    justify-content: space-between;
  }
}
.col-1-2 {
  width: 50%;

  @include breakpoint--small {
    width: 100%;
  }
}
.col-1-3 {
  width: 33%;

  @include breakpoint--medium {
    width: 50%;
  }
  @include breakpoint--small {
    width: 100%;
  }
}
.col-2-3 {
  width: 66%;

  @include breakpoint--small {
    width: 100%;
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px $spacing * 2;

  &--small {
    padding: 0px $spacing;
  }
  &--large {
    max-width: 1024px;
    padding: 0px $spacing * 2 0px $spacing * 5;

    @include breakpoint--small {
      padding: 0px $spacing * 2;
    }
  }
  &--xlarge {
    max-width: 1024px;
    padding: 0px $spacing 0px $spacing * 3;

    @include breakpoint--small {
      padding: 0px $spacing * 2;
    }
  }
}

.section {
  padding: $spacing 0;

  &--s {
    padding: $spacing / 2 0;
  }
  &--l {
    padding: $spacing * 2 0;
  }
}

.content {
  box-sizing: border-box;
  padding: $spacing;

  &--m {
    padding: $spacing * 2;
  }
}

.card-container {
  margin: 0px calc((#{$spacing} * 2) * -1);

  @include breakpoint--small {
    margin: 0px;
  }
}