.wp-block-image {
  margin: 0;

  img {
    border-radius: .8rem;
    position: relative;
    z-index: 20;
  }
}

.wp-block-column {
  margin-right: $spacing;
  margin-left: $spacing;

  @include breakpoint--small {
    margin-top: $spacing;
    margin-right: 0;
    margin-left: 0;
  }
  &:not(:first-child) {
    margin-left: $spacing;

    @include breakpoint--small {
      margin-left: 0;
    }
  }
  &:first-child {
    margin-left: 0;
    
    @include breakpoint--small {
      margin-top: 0;
    }
  }
  &:nth-child(2n) { // Every 2nd column
    // Where the layout breaks to two columns
    @include between(600px, 781px) {
      margin-right: 0;
    }
  }
  &:nth-child(3n) { // Every 3rd column
    // Where the layout breaks to two columns
    @include between(600px, 781px) {
      margin-left: 0;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  & > .wp-block-image {
    margin-bottom: $spacing;
    margin-top: 0;
  }
}

.corner {
  // Corner graphic element
  @include accent-graphic;

  &--cutout {
    //@include slant-cutout;
  }
}

.bg-burgundy { background-color: c('burgundy'); }
.bg-magenta { background-color: c('magenta'); }
.bg-aqua { background-color: c('aqua'); }
.bg-teal { background-color: c('teal'); }
.bg-pink { background-color: c('pink'); }
.bg-yellow { background-color: c('yellow'); }
.bg-dark-blue { background-color: c('dark-blue'); }