/*---------- TYPOGRAPHY ----------*/
html {
  font-size: 100%; // 1rem = 16px (set by browser)
}

body {
  color: var(--text-color);
  font-family: $font--main;
  font-size: $font__size--base;
  line-height: 1.2;

  @include breakpoint--small {
    line-height: 1.3;
  }

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    color: c('black');
  }
}

/* Blockquote */
blockquote {
  font-size: 125%;
  margin: $spacing * 2 0;
  padding: 0 $spacing * .5;

  @include accent-block;

  p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
  }
}

p {
  margin-top: 0;
}

/* Headings */
h1 {
  margin-top: 0;
}
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3 {
  font-family: $font--heading;
  letter-spacing: 1px;
}
h1, .h1 {
  font-size: $font__size--m;
}
h2, .h2 {
  font-size: $font__size--base;
}
h3, .h3 {
  font-size: $font__size--s;
  margin-bottom: 0px;
}
.title, .subtitle {
  a {
    color: var(--heading-color) !important;
    text-decoration: none;

    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      color: c('black');
    }
  }
}
.title {
  font-size: $font__size--xl;
  font-weight: 700;
  text-transform: uppercase; 
}
cite, 
.supplemental {
  color: var(--supplemental-color);
  font-size: $font__size--s;

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    color: c('black');
  }
}
.uppercase {
  text-transform: uppercase;
}

/*---- Lists ----*/

// Nested
ul li ul,
ul li ol,
ol li ol,
ol li ul {
	margin: .25em 0 .25em 1em !important;
}
