/*---------- TYPOGRAPHY ----------*/
body {
  color: c('black');
  font-family: $font--main;
  font-size: $font__size--base;
  line-height: 1.2;
}

/* Blockquote */
blockquote {
  border-left: 4px solid c('aqua');
  font-size: 125%;
  margin: $spacing 0;
  padding: 0 0 0 $spacing;

  p {
    margin: 0;
    padding: 0;
  }
}

p {
  margin-top: 0;
}

/* Headings */
h1 {
  margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font--heading;
  letter-spacing: 1px;
}
.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.title > span {
  font-size: .74em;
}
.subtitle {
  font-size: .9em;
  font-weight: 600;
  text-align: center;
  margin-top: .4em;
}
h2.sec-header,
h3.sec-header {
  border-bottom: 3px solid #fff;
  margin-top: 1em;
  padding-bottom: .1em;
}
h3.sec-header {
  display: inline-block;
  margin-top: 0;
}

/*nested lists*/
ul li ul,
ul li ol,
ol li ol,
ol li ul {
	margin: .25em 0 .25em 1em !important;
}

/* Captions */
.wp-caption-text {
	width: 90%;
	text-align: center;
	margin-top: 0;
	font-size: .75em;
	font-style: italic;
	color: #a2a2a2;
} 