$spacing: 1rem;

$navbarHeight: $spacing * 3;

$colors: (
  'white': #ffffff,
  'black': #363636,
  'light-gray': #a2a2a2,
  'cream': #EBDBB2,
  'cream-dark': #cdbf9b,
  'journal': #F2AA6B,
  'artwork': #D97373,
  'photography': #73556E,
  'projects': #778E99,
  'resume': #36738F
);

body {
  --accent-color: #EBDBB2;
  --bg-color: #ffffff;
  --bg-color-sidebar: rgba(255,255,255,.7);
  --border-color: #363636;
  --header-color: #EBDBB2;
  --heading-color: #363636;
  --home-bg-color: #aba594;
  --text-color: #363636;
  --supplemental-color: #707070;
  --link-color: #363636;
  --link-hover-color: #707070;

  &.site-mode--dark {
    --accent-color: #727068;
    --bg-color: #363636;
    --bg-color-sidebar: rgba(0,0,0,.7);
    --border-color: #e1dbd0;
    --header-color: #cdbf9b;
    --heading-color: #e1dbd0;
    --home-bg-color: #727068;
    --text-color: #dbd4c7;
    --supplemental-color: #a2a2a2;
    --link-color: #ffffff;
    --link-hover-color: #a2a2a2;
  }
}

$font--main: 'Archivo', 'Roboto', 'Tahoma', sans-serif;
$font--heading: 'Khand', 'Arial Narrow', sans-serif;

$font__size--xl: 4.4rem;
$font__size--l: 2.9rem;
$font__size--m: 2rem;
$font__size--base: 1.2rem; // 18px
$font__size--s: 1rem;
$font__size--xs: .8rem;

$font__weight: 400;
$font__weight--l: 300;
$font__weight--m: 500;
$font__weight--b: 700;

$breakpoint--small: 599px;
$breakpoint--medium: 782px;
$breakpoint--medium-large: 880px;
$breakpoint--large: 1000px;