.content-group-informational {
  .item-title {
    border-top: 1px solid var(--heading-color);
    color: var(--heading-color);

    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      border-top: 1px solid c('black');
      color: c('black');
    }
  }
  
  .item-links {
    margin-bottom: $spacing;
    text-transform: uppercase;

    a {
      margin-right: $spacing;
      text-decoration: none;
      
      svg {
        width: 1em;
        height: 1em;
        padding-left: $spacing *.25;
        position: relative;
        top: $spacing * .125;
      }
    }
  }
}