.overlay {
  background-color: var(--bg-color);
  box-sizing: border-box;
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;

  > .grid {
    align-content: center;
    align-items: center;
    margin-top: $spacing;
    padding: 0px;
    
    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 100%; 
    }
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .button--close {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: var(--link-color);
    cursor: pointer;
    font-family: $font--heading;
    margin-bottom: $spacing * .5;
    padding: 0;
    text-transform: uppercase;
    -webkit-appearance: none;
  }

  #walkway {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &.loaded {
    #walkway {
      display: none;
    }
    img {
      opacity: 1;
      transition: opacity .2s ease;
    }
  }
}

.overlay-content {
  align-items: flex-start;
  min-height: 70vh;
  max-width: 100%;
}

.overlay--image {
  img {
    margin-bottom: $spacing * .5;
    max-height: 70vh;
    opacity: 0;

    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 100px;
    }
  }
}