.content-card {
  margin: 0px $spacing * 2 $spacing * 4 $spacing * 2;
  width: calc(33% - ((#{$spacing} * 2) * 2));
  
  @include breakpoint--medium {
    width: calc(50% - ((#{$spacing} * 2) * 2));
  }
  @include breakpoint--small {
    margin: 0px 0px $spacing * 4 0px;
    width: 100%;
  }
}

.content-card--post {
  a {
    text-decoration: none;
  }
  .post__title {
    border-top: 1px solid c('black');
    font-size: $font__size--base;
    margin: 0px;
  }
  .post__date {
    font-size: $font__size--xs;
    margin: 0px;
    text-align: right;
    text-transform: uppercase;
  }
}