/*----------FOOTER----------*/
// Primary Footer
footer {
  background-color: c('cream');
  border-top: 1px solid c('black');
  display: flex;
  align-items: center;
  margin-top: 4em;
  position: relative;
  width: 100%;
}
.footer__attribution {
  font-size: $font__size--xs;
  text-align: right;
}



// Sidebar Layout Footer
.sidebar-footer,
.sidebar-footer--under-content {
  position: fixed;
}
.sidebar-footer--under-content {
  position: relative;
}
.sidebar-footer,
.sidebar-footer--under-content {
  bottom: 20px;
  width: 100%;
  z-index: 39;
}