header {
  font-family: $font--heading;
  color: c('black');
  position: relative;
}
#mainNavBar {
  background-color: c('cream');
  border-bottom: 1px solid c('black');
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar-main-content {
  height: $navbarHeight;
  position: relative;
}
.navbar-main-content__brand,
a.navbar-main-content__brand {
  color: c('black');
  text-decoration: none;
}
.navbar-main-content__menu {
  background-color: transparent;
  border: none;
  color: c('black');
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  -webkit-appearance: none;
}
.navbar-main-banner,
.navbar-main-banner--mobile {
  color: c('white');
  font-size: $font__size--s;
  padding: .25rem .5rem .25rem 3rem;

  h1 {
    font-size: inherit;
    font-weight: inherit;
    justify-content: flex-start;
    height: 100%;
  }
}
.navbar-main-banner {
  display: block;
  position: absolute;
  bottom: $navbarHeight;
  left: -$spacing;
  transform: rotateZ(90deg);
  transform-origin: bottom left;
  
  @include between(600px, 781px) {
    left: -$spacing / 2;
  }
  @include breakpoint--small {
    display: none;
  }

  h1 {
    margin: 0;
  }
}
.navbar-main-banner--mobile {
  display: none;
  padding: .25rem 0;

  @include breakpoint--small {
    display: block;
  }
}