header {
  font-family: $font--heading;
  color: c('black');
  position: relative;
}

#mainNavBar {
  background-color: c('cream');
  border-bottom: 1px solid c('black');
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  @include breakpoint--small {
    background-color: transparent;
    border: none;
  }
}

#sidebarNav {
  background-color: rgba(255,255,255,.7);
  height: 100vh;
  min-width: 320px;

  header {
    border-bottom: 1px solid c('black');
    font-family: $font--main;
    margin-bottom: $spacing * 2;
    padding-bottom: $spacing;
    width: 100%;
  }
  .brand {
    display: block;
    max-width: 120px;
    margin: 0 auto;
  }
  .navbar-main-content__menu {
    display: none;
  }
}
.page-child #sidebarNav {
  background-color: c('white');
  padding-bottom: 0px;
  
  @include breakpoint--small {
    width: 100%;
  }

  header {
    @include breakpoint--small {
      display: flex;
      justify-content: space-between;
    }
  }
  .brand {
    @include breakpoint--small {
      margin: 0px;
      max-width: 84px;
    }
  }
  .navbar-main-content__menu {
    @include breakpoint--small {
      display: block;
    }
  }
}

.navbar-container {
  position: relative;

  @include breakpoint--small {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0px;
  }
}
.navbar-main-content {
  height: $navbarHeight;
  padding: 0px $spacing;
  position: relative;
  width: 100%;

  @include breakpoint--small {
    background-color: c('cream');
    padding: 0 $spacing * 2;
  }
}
.navbar-main-content__brand,
a.navbar-main-content__brand {
  color: c('black');
  text-decoration: none;
}

.navbar-main-content__menu {
  background-color: transparent;
  border: none;
  color: c('black');
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  -webkit-appearance: none;
}

.navbar-main-banner {
  color: c('white');
  font-size: $font__size--s;
  letter-spacing: 1px;
  padding: .25rem .5rem .25rem 3rem;
  position: absolute;
  transform: rotateZ(90deg);
  transform-origin: top left;

  @include breakpoint--small {
    border-bottom: 1px solid c('black');
    order: 1;
    padding: $spacing * .5 $spacing * 2 $spacing *.25 $spacing * 2;
    position: unset;
    transform: rotateZ(0deg);
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
    height: 100%;
    margin: 0;
  }

  a, 
  a:active,
  a:hover,
  a:link,
  a:visited {
    color: c('white');
    display: block;
    text-decoration: none;
  }
}
