header {
  font-family: $font--heading;
  color: c('black');
  position: relative;
}

#mainNavBar {
  background-color: var(--header-color);
  border-bottom: 1px solid c('black');
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  @include breakpoint--small {
    background-color: transparent;
    border: none;
  }
}

#sidebarNav {
  background-color: var(--bg-color-sidebar);
  min-width: 320px;
  height: 100vh;

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    min-height: 100px;
  }

  header {
    border-bottom: 1px solid var(--border-color);
    font-family: $font--main;
    margin-bottom: $spacing * 2;
    padding-bottom: $spacing;
    width: 100%;
  }
  .brand {
    display: block;
    max-width: 120px;
    margin: 0 auto;

    /* ie fix */
    svg {
      fill: var(--link-color);

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 100%; 
      }
    }
  }
  .main-menu-toggle {
    color: var(--link-color);
    display: none;
  }
  .site-mode-toggle {
    align-self: center;
    font-size: $font__size--s;
    margin-top: $spacing * 2;

    button {
      color: var(--text-color);
    }
  }
}
.page-child #sidebarNav {
  background-color: var(--bg-color);
  padding-bottom: 0px;
  
  @include breakpoint--small {
    flex: 0 0 auto;
    height: auto;
    width: 100%;
  }

  header {
    @include breakpoint--small {
      display: flex;
      justify-content: space-between;
    }
  }
  .brand {
    @include breakpoint--small {
      margin: 0px;
      max-width: 84px;
    }
  }
  .main-menu-toggle {
    @include breakpoint--small {
      display: block;
    }
  }
}

.navbar-container {
  position: relative;

  @include breakpoint--small {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0px;
  }
}
.navbar-main-content {
  height: $navbarHeight;
  padding: 0px $spacing;
  position: relative;
  width: 100%;

  @include breakpoint--small {
    background-color: var(--header-color);
    padding: 0 $spacing * 2;
  }
}
.site-brand,
a.site-brand,
a:visited.site-brand {
  color: c('black');
  text-decoration: none;
}

.main-menu-toggle,
.site-mode-toggle button {
  background-color: transparent;
  border: none;
  color: c('black');
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  -webkit-appearance: none;
}
.main-menu-toggle {
  margin-left: $spacing * 2;
}
.site-mode-toggle {
  button {
    height: $font__size--base;
  }
  .site-mode-toggle__icon--light,
  .site-mode-toggle__icon--dark {
    height: .9em;
    width: auto;
    padding-left: $spacing * .25;
    //padding-top: $spacing * .125;
  }
  .site-mode-toggle__icon--light {
    display: block;
  }
  .site-mode-toggle__icon--dark {
    display: none;
  }

  body.site-mode--dark & {
    .site-mode-toggle__icon--light {
      display: none;
    }
    .site-mode-toggle__icon--dark {
      display: block;
    }
  }
}

.navbar-main-banner {
  color: c('white');
  font-size: $font__size--s;
  letter-spacing: 1px;
  padding: .25rem .5rem .25rem 3rem;
  position: absolute;
  transform: rotateZ(90deg);
  transform-origin: top left;

  @include breakpoint--small {
    border-bottom: 1px solid c('black');
    order: 1;
    padding: $spacing * .5 $spacing * 2 $spacing *.25 $spacing * 2;
    position: unset;
    transform: rotateZ(0deg);
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
    height: 100%;
    margin: 0;
  }

  a, 
  a:active,
  a:hover,
  a:link,
  a:visited {
    color: c('white');
    display: block;
    text-decoration: none;
  }
}
