/*---- Basic Link Styling ----*/
a:link,
a:visited {
  color: var(--link-color);
}
a:hover,
a:active {
  color: var(--link-hover-color);
}

/*---- Button Styling ----*/
.cta,
a.cta,
a:visited.cta {
  background-color: var(--header-color);
  border: 1px solid c('black');
  box-sizing: border-box;
	color: c('black');
  cursor: pointer;
  display: inline-block;
  font-size: $font__size--xs;
  font-weight: $font__weight--b;
  text-decoration: none;
	text-transform: uppercase;
	padding: $spacing * .5 $spacing;
	margin: 0px;
  
  &:hover {
    background-color: lighten(c('cream'),6%);
    color: c('black');
  }
}