/*---- Basic Link Styling ----*/
main a:link,
main a:visited {
  color: var(--link-color);

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    color: c('black');
  }
}
main a:hover,
main a:active {
  color: var(--link-hover-color);

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    color: c('light-gray');
  }
}

/*---- Button Styling ----*/
.cta,
a.cta,
a:link.cta,
a:visited.cta {
  background-color: var(--header-color);
  border: 1px solid c('black');
  box-sizing: border-box;
	color: c('black');
  cursor: pointer;
  display: inline-block;
  font-size: $font__size--xs;
  font-weight: $font__weight--b;
  text-decoration: none;
	text-transform: uppercase;
	padding: $spacing * .5 $spacing;
	margin: 0px 0px $spacing 0px;

  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-color: c('cream');
  }
}  
.cta:hover,
a:hover.cta {
  background-color: lighten(c('cream'),6%);
  color: c('black');
}