/*---- Basic Link Styling ----*/
a:link,
a:visited {
  color: c('black');
}
a:hover,
a:active {
  color: lighten(c('black'),20%);
}

/*---- Other Links ----*/


/*---- Button Styling ----*/
.cta {
	background-color: c('cream');
	color: c('black');
	cursor: pointer;
	text-transform: uppercase;
	padding: .5em;
	margin: .5em 0;
	display: inline-block;
	border: 1px solid c('black');
  
  &:hover {
    background-color: darken(c('cream'), 10%);
  }
}