/* Basic Link Styling */
a:link,
a:visited {
    color: c('black');
}
a:hover,
a:active {
  color: c('pink');
}

/* Button Styling */
.cta,
button.cta {
	background: #363636;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	padding: .5em;
	margin: .5em 0;
	display: inline-block;
	border: 2px solid #fff;
}
.cta:hover,
button.cta:hover {
	color: #fbb33d;
}

/* Socials */
.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  font-size: 1.8em;
  list-style: none;

  li {
    padding: 0 1em;
  }
}