/*----------NAVIGATION----------*/
.menu {list-style: none;}
.current-menu-item a, .current_page_parent a {border-bottom: 2px solid #fff;}
.current-menu-item a:hover {color: #fff;}
.main-menu--vertical a:link,
.main-menu--vertical a:visited,
.top-level .main-menu--vertical a:hover,
.top-level .main-menu--vertical a:active {
    color: #a2a2a2;
    text-decoration: none;
    transition-duration: .25s;
}
.main-menu--vertical a:hover,
.main-menu--vertical a:active,
.main-menu--vertical .current-menu-item a,
.top-level .main-menu--vertical a:link,
.top-level .main-menu--vertical a:visited {color: #fff;}

.main-menu--vertical .menu-item-separator {
	padding-bottom: 1em;
}

#navContainer {
    position: fixed;
    top: 0;
    z-index: 50;
    transition-duration: .25s;
}
.nav-container,
.sidebar-nav-container {
    height: 4em;
    width: 100%;	
}
.past-hero {
    background: #171717;
    background: rgba(0,0,0,.6);
	box-shadow:
		0 10px 20px rgba(0,0,0,0.19),
		0 6px 6px rgba(0,0,0,0.23);
}
#mainNav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.nav,
.sidebar-nav {
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.main-menu a:hover,
.main-menu a:active {color: #ffffff;}
.screen-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #363636;
    background: rgba(0,0,0,.6);
    z-index: 40;
}
.main-menu,
.main-menu--vertical {
    font-family: 'Montserrat', sans-serif;
	font-weight: 600;
    text-transform: uppercase;
    display: none;
}
.main-menu--vertical li {
	margin: 0;
	font-size: 1em;
}
.mobile-menu {
    display: block;
    padding-top: 7em;
    position: absolute;
    left: 2em;
    top: -4em;
    padding-left: .5em;
    border-left: .2em solid #fff;
}
.mobile-menu ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mobile-menu #menu-photo-menu li {
    font-size: 1.2em;
    margin-bottom: .5em;
}
.mobile-menu li {
    font-size: 1.4em;
    margin-bottom: 1.2em;
}
#navIcon {
	width: 30px;
	height: 24px;
	position: relative;
	z-index: 300;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#navIcon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #ffffff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#navIcon span:nth-child(1) {top: 0px;}
#navIcon span:nth-child(2),
#navIcon span:nth-child(3) {top: 10px;}
#navIcon span:nth-child(4) {top: 20px;}
#navIcon.open span {background: #fffffa;}
#navIcon.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
#navIcon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#navIcon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#navIcon.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}


/*Pagination*/
.prev-next-posts {
  margin-top: 2em;
}
.prev-next-posts p {
  text-transform: uppercase;
  font-size: 1.1em;
font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}
.prev-posts-link a::before,
.next-posts-link a::after {
  font-family: FontAwesome;
  font-size: 1.6em;
  vertical-align: bottom;
}
.prev-posts-link a::before {
  content: '\f104';
  margin-right: .5em;
}
.next-posts-link a::after {
  content: '\f105';
  margin-left: .5em;
}