/*---------- NAVIGATION ----------*/
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu {
  font-size: $font__size--s;
  letter-spacing: 1px;
  margin-right: $spacing;
  position: absolute;
  top: calc(#{$navbarHeight} + (#{$spacing} * .25) + 1px);
  right: 0;
  visibility: hidden;
  transform: translateX(100%);

  @include breakpoint--small {
    display: none;
  }
}
.main-menu li {
  color: c('white');
  margin-bottom: $spacing * .25;
  visibility: hidden;
  text-align: right;
  transform: translateX(100%);
  
  &.current_page_item {
    //@extend .hide-accessible;
  }

  a {
    display: block;
    padding: $spacing * .25 $spacing * .5 $spacing * .25 $navbarHeight;
    text-decoration: none;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #ffffff;
  }
  &:nth-child(2) { animation-delay: .05s; }
  &:nth-child(3) { animation-delay: .1s; }
  &:nth-child(4) { animation-delay: .15s; }
  &:nth-child(5) { animation-delay: .2s; }
  &:nth-child(6) { animation-delay: .25s; }
  &:nth-child(7) { animation-delay: .3s; }
  &:nth-child(8) { animation-delay: .35s; }
}
.main-menu.is-open, 
.main-menu.is-open li {
  animation-name: slideInFromRight;  
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.main-menu.is-closed,
.main-menu.is-closed li {
  visibility: visible;
  transform: translateX(0px);
  animation-name: slideOutFromLeft;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.main-menu.is-closed {
  animation-delay: .35s;
}

@keyframes slideInFromRight {
  0% { 
    visibility: hidden;
    transform: translateX(100%);
  }
  100% { 
    visibility: visible;
    transform: translateX(0px);
  }
}
@keyframes slideOutFromLeft {
  0% { 
    visibility: visible;
    transform: translateX(0px);
  }
  100% { 
    visibility: hidden;
    transform: translateX(100%);
  }
}


/*---- Pagination ----*/
.pagination {
  border-top: 1px solid c('black');
  margin-top: $spacing * 2;
  padding-top: 4px;
  
  p {
    margin: 0px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
}
.prev-posts-link, 
.next-posts-link {
  display: flex;
  align-items: center;
  margin-bottom: $spacing;

  svg {
    align-self: flex-start;
    padding-top: 2px;
    width: 1em;
    height: 1em;
  }

  @include breakpoint--small {
    flex: 1 1 100%;
  }
}
.prev-posts-link {
  justify-content: flex-start;
  margin-right: $spacing;
  text-align: left;

  svg {
    margin-right: $spacing * .5;
  }
}
.next-posts-link {
  justify-content: flex-end;
  margin-left: $spacing;
  text-align: right;
  
  svg {
    margin-left: $spacing * .5;
  }
}
// END / Pagination


/*---- Breadcrumbs ----*/
.breadcrumb {
  display: block;
  margin-top: 1rem;
  text-transform: uppercase;

  ol {
    display: flex;
    list-style: none;
    padding: 0px;
  }
}
// END / Breadcrumbs




.main-menu--vertical li {
	margin: 0;
	font-size: 1em;
}

.main-menu--mobile {
  display: none;

  @include breakpoint--small {
    display: block;
  }
}

.mobile-menu {
  display: block;
  padding-top: 7em;
  position: absolute;
  left: 2em;
  top: -4em;
  padding-left: .5em;
  border-left: .2em solid #fff;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
}
.mobile-menu #menu-photo-menu li {
  font-size: 1.2em;
  margin-bottom: .5em;
}
.mobile-menu li {
  font-size: 1.4em;
  margin-bottom: 1.2em;
}





.main-menu--vertical a:link,
.main-menu--vertical a:visited,
.top-level .main-menu--vertical a:hover,
.top-level .main-menu--vertical a:active {
  color: #a2a2a2;
  text-decoration: none;
  transition-duration: .25s;
}
.main-menu--vertical a:hover,
.main-menu--vertical a:active,
.top-level .main-menu--vertical a:link,
.top-level .main-menu--vertical a:visited {color: #fff;}

.main-menu--vertical .menu-item-separator {
	padding-bottom: 1em;
}

#navContainer {
  position: fixed;
  top: 0;
  z-index: 50;
  transition-duration: .25s;
}
.nav-container,
.sidebar-nav-container {
  height: 4em;
  width: 100%;	
}
.past-hero {
  background: #171717;
  background: rgba(0,0,0,.6);
	box-shadow:
		0 10px 20px rgba(0,0,0,0.19),
		0 6px 6px rgba(0,0,0,0.23);
}
.nav,
.sidebar-nav {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.screen-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #363636;
  background: rgba(0,0,0,.6);
  z-index: 40;
}

