/*---------- NAVIGATION ----------*/
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu {
  font-size: $font__size--s;
  letter-spacing: 1px;
  margin-right: $spacing * 2;
  position: absolute;
  top: calc(#{$navbarHeight} + (#{$spacing} * .25) + 1px);
  right: 0;

  @include breakpoint--small {
    display: none;
  }
}
.main-menu li {
  color: c('white');
  margin-bottom: $spacing * .25;
  opacity: 0;
  text-align: right;
  transform: translateX(100%);
  
  &.current_page_item {
    //@extend .hide-accessible;
  }

  a {
    display: block;
    padding: $spacing * .25 $spacing * .5 $spacing * .25 $navbarHeight;
    text-decoration: none;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #ffffff;
  }
  &:nth-child(2) { animation-delay: .05s; }
  &:nth-child(3) { animation-delay: .1s; }
  &:nth-child(4) { animation-delay: .15s; }
  &:nth-child(5) { animation-delay: .2s; }
  &:nth-child(6) { animation-delay: .25s; }
  &:nth-child(7) { animation-delay: .3s; }
  &:nth-child(8) { animation-delay: .35s; }
}
.main-menu.is-open li {
  animation-name: slideInFromRight;  
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.main-menu.is-closed li {
  opacity: 1;
  transform: translateX(0px);
  animation-name: slideOutFromLeft;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes slideInFromRight {
  0% { 
    opacity: 0;
    transform: translateX(100%);
  }
  100% { 
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideOutFromLeft {
  0% { 
    opacity: 1;
    transform: translateX(0px);
  }
  100% { 
    opacity: 0;
    transform: translateX(100%);
  }
}









.main-menu--vertical li {
	margin: 0;
	font-size: 1em;
}

.main-menu--mobile {
  display: none;

  @include breakpoint--small {
    display: block;
  }
}

.mobile-menu {
  display: block;
  padding-top: 7em;
  position: absolute;
  left: 2em;
  top: -4em;
  padding-left: .5em;
  border-left: .2em solid #fff;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
}
.mobile-menu #menu-photo-menu li {
  font-size: 1.2em;
  margin-bottom: .5em;
}
.mobile-menu li {
  font-size: 1.4em;
  margin-bottom: 1.2em;
}





.main-menu--vertical a:link,
.main-menu--vertical a:visited,
.top-level .main-menu--vertical a:hover,
.top-level .main-menu--vertical a:active {
  color: #a2a2a2;
  text-decoration: none;
  transition-duration: .25s;
}
.main-menu--vertical a:hover,
.main-menu--vertical a:active,
.top-level .main-menu--vertical a:link,
.top-level .main-menu--vertical a:visited {color: #fff;}

.main-menu--vertical .menu-item-separator {
	padding-bottom: 1em;
}

#navContainer {
  position: fixed;
  top: 0;
  z-index: 50;
  transition-duration: .25s;
}
.nav-container,
.sidebar-nav-container {
  height: 4em;
  width: 100%;	
}
.past-hero {
  background: #171717;
  background: rgba(0,0,0,.6);
	box-shadow:
		0 10px 20px rgba(0,0,0,0.19),
		0 6px 6px rgba(0,0,0,0.23);
}
.nav,
.sidebar-nav {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.screen-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #363636;
  background: rgba(0,0,0,.6);
  z-index: 40;
}

/*Pagination*/
.prev-next-posts {
  margin-top: 2em;
}
.prev-next-posts p {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}
.prev-posts-link a::before,
.next-posts-link a::after {
  font-family: FontAwesome;
  font-size: 1.6em;
  vertical-align: bottom;
}
.prev-posts-link a::before {
  content: '\f104';
  margin-right: .5em;
}
.next-posts-link a::after {
  content: '\f105';
  margin-left: .5em;
}