/* Slick Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
      float: right;
  }
  img {
      display: block;
  }
  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

// Dots
.slick-dots {
  border: 1px solid c('black');
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  li {
    background-color: lighten(c('black'),20%);
    cursor: pointer;
    flex: 1 1 auto;
    height: $spacing * .75;
    transition: all .1s ease;

    button {
      visibility: hidden;
    }
    &:not(:last-child) {
      border-right: 1px solid c('black');
    }
    &:hover {
      background-color: lighten(c('black'),10%);
    }
  }

  li.slick-active {
    background-color: c('cream');
  }
}
// END / Dots

ul.slider {
  list-style: none;
  padding: 0px;
  width: auto;
}

/* Vertical Slider */
.slider-vertical {
  &__left {
    display: flex;
    flex-direction: column;
    transform: perspective(30rem) rotateY(25deg);

    .slick-slide {
      font-size: $font__size--l;
      opacity: .3;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transform: scale(0.6, 0.6);
      transform-origin: center left;
      transition: opacity .1s ease, transform .1s ease;
      white-space: nowrap;
  
      @include breakpoint--small {
        font-size: $font__size--m;
      }
  
      &.slick-current,
      &.slick-current-clone-animate {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    height: 100%;

    .slick-slide {
      box-sizing: border-box;
      min-height: 280px;
    }
  }
  
  .slick-arrow {
    background-color: c('cream');
    border: 1px solid c('black');
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;

    &:focus {
      outline: none;

      svg {
        outline: 1px solid c('light-gray');
      }
    }
    &:hover, &:focus {
      background-color: lighten(c('cream'),6%);
      border: 1px solid c('light-gray');
    }
    &:active {
      background-color: c('cream');
      border: 1px solid c('black');
    }

    svg {
      height: $spacing * 2;
      width: auto;
    }
  }

  .slick-next {
    margin-top: $spacing * 2;
  }
  .slick-prev {
    margin-bottom: $spacing * 2;
  }

  // Child slider
  .slick-slider {
    .slick-slider {
      display: flex;
      flex-direction: column;
  
      .slick-dots {
        order: 0;  
      }
      .slick-list {
        order: 1;
      }
    }
  }
}

#walkway.slider {
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    width: 14rem;
    height: auto;
  }
}