/* Slick Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
      float: right;
  }
  img {
      display: block;
  }
  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

// Dots
.slick-dots {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  height: $spacing * 1.5;
  list-style: none;
  margin-top: $spacing;
  padding: 0;

  li {
    background-color: lighten(c('black'),20%);
    border: 1px solid c('black');
    cursor: pointer;
    height: $spacing * .75;
    flex: 0 1 $spacing * 2;
    //transition: all .1s ease;

    button {
      visibility: hidden;
    }
    &:not(:last-child) {
      border-right: none;
    }
    &:hover {
      background-color: lighten(c('black'),10%);
    }
  }

  li.slick-active {
    background-color: c('cream');
    border: 1px solid c('black');
    transform: scale(1.1);
  }
}
// END / Dots


.slider {
  visibility: hidden;

  &.slick-initialized {
    visibility: visible;
  }
}
ul.slider {
  list-style: none;
  padding: 0px;
  width: auto;
}


/* Vertical Slider */
.slider-vertical {
  .col-1-3 {
    .slider-vertical__left .slick-slide {
      font-size: $font__size--m;
    }
    
  }
  .col-1-2 {
    .slider-vertical__left .slick-slide {
      font-size: $font__size--l;
    }
  }
  .col-1-3, 
  .col-1-2 {
    .slider-vertical__left .slick-slide {
      @include breakpoint--medium-large {
        font-size: $font__size--m;
      }
      @include breakpoint--medium {
        font-size: $font__size--base;
      }
    }
  }
  .col-1-3, 
  .col-2-3 {
    @include breakpoint--medium-large {
      width: 50%;
    }
  }
  .col-1-2, 
  .col-1-3, 
  .col-2-3 {
    @include breakpoint--medium {
      width: 100%;
    }
  }
  
  &__left {
    display: flex;
    flex-direction: column;
    transform: perspective(30rem) rotateY(25deg);

    @include breakpoint--medium {
      flex-direction: row;
      margin-bottom: $spacing * 3;
      transform: perspective(0rem) rotateY(0deg);
    }

    .slick-track {
      @include breakpoint--medium {
        display: flex;
        align-items: center;
      }
    }

    .slick-slide {
      cursor: pointer;
      opacity: .4;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transform: scale(0.6, 0.6);
      transform-origin: center left;
      transition: opacity .1s ease, transform .1s ease;
      white-space: nowrap;
  
      @include breakpoint--medium {
        text-align: center;
        transform-origin: center center;
        white-space: initial;
      }
  
      &.slick-current,
      &.slick-current-clone-animate {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    height: 100%;

    .slick-slide {
      box-sizing: border-box;
      min-height: 280px;
    }
  }
  
  .slick-arrow {
    background-color: c('cream');
    border: 1px solid c('black');
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;

    &:focus {
      outline: none;

      svg {
        outline: 1px solid c('light-gray');
      }
    }
    &:hover, &:focus {
      background-color: lighten(c('cream'),6%);
      border: 1px solid c('light-gray');
    }
    &:active {
      background-color: c('cream');
      border: 1px solid c('black');
    }

    svg {
      height: $spacing * 2;
      width: auto;

      @include breakpoint--medium {
        align-self: center;
        height: $spacing * 1.5;
      }
    }
  }
  
  .slick-next {
    margin-top: $spacing * 2;
  }
  .slick-prev {
    margin-bottom: $spacing * 2;
  }

  .slick-next, 
  .slick-prev {
    @include breakpoint--medium {
      margin: 0px;
    }
  }
}

#walkway.slider {
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    width: 72%;
    height: auto;
    max-height: 360px;

    path {
      stroke-width: 1px;
    }
  }
  .section {
    text-align: center;
  }
}