// @import 'swiper-vars.scss';

// @font-face {
//   font-family: 'swiper-icons';
//   src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA')
//     format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// :root {
//   --swiper-theme-color: #{$themeColor};
// }

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
  touch-action: pan-y;
  &.swiper-vertical {
    touch-action: pan-x;
  }
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}

/* 3D Effects */
.swiper-3d {
  &,
  &.swiper-css-mode .swiper-wrapper {
    perspective: 1200px;
  }
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide-shadow,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom,
  .swiper-cube-shadow {
    transform-style: preserve-3d;
  }
  .swiper-slide-shadow,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-slide-shadow {
    background: rgba(0, 0, 0, 0.15);
  }
  .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
}

/* CSS Mode */
.swiper-css-mode {
  > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
}
.swiper-horizontal.swiper-css-mode {
  > .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }
}
.swiper-vertical.swiper-css-mode {
  > .swiper-wrapper {
    scroll-snap-type: y mandatory;
  }
}
.swiper-centered {
  > .swiper-wrapper::before {
    content: '';
    flex-shrink: 0;
    order: 9999;
  }
  &.swiper-horizontal {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-inline-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      height: 100%;
      width: var(--swiper-centered-offset-after);
    }
  }
  &.swiper-vertical {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-block-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      width: 100%;
      height: var(--swiper-centered-offset-after);
    }
  }

  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center center;
  }
}

/* Swiper Navigation */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(44px / 44 * 27);
  height: 44px;
  margin-top: calc(0px - (44px / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-lock {
  display: none;
}

/* Swiper Pagination */ 
:root {
  --swiper-pagination-color: c('black');
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
.swiper-pagination {
  // position: absolute;
  // text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;

  display: flex !important;
  align-items: center;
  flex-wrap: nowrap;
  height: $spacing * 1.5;
  list-style: none;
  margin-top: $spacing;
  padding: 0;

  &.swiper-pagination-hidden {
    opacity: 0;
  }
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
  .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }
  .swiper-pagination-bullet-active {
    transform: scale(1);
  }
  .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }
  .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }
  .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }
  .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }
  .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
}
.swiper-pagination-bullet {
  background-color: lighten(c('black'),20%);
  border: 1px solid c('black');
  box-sizing: border-box;
  cursor: pointer;
  height: $spacing * .75;
  flex: 0 1 $spacing * 2;
  margin-bottom: 0px !important;
  position: relative;
  transition: all .1s ease;
    
  &:focus, &:hover {
    background-color: lighten(c('black'),10%);
  }

  .swiper-pagination-clickable & {
    cursor: pointer;
  }

  &:only-child {
    display: none !important;
  }

  &:not(.swiper-pagination-bullet-active) {
    &:not(:last-child) {
      border-right: none;
    }
  }
}
.swiper-pagination-bullet-active {
  background-color: var(--header-color);
  height: $spacing;
  
  /* ie fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-color: c('cream');
  }
  
  &:focus, &:hover {
    background-color: darken(c('cream'),4%);
  }

  & + li {
    border-left: none;
  }
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
  .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
  }
  &.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    .swiper-pagination-bullet {
      display: inline-block;
      transition: 200ms transform, 200ms top;
    }
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    .swiper-pagination-bullet {
      transition: 200ms transform, 200ms left;
    }
  }
}
.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}
.swiper-pagination-lock {
  display: none;
}

/* Swiper Fade */ 
.swiper-fade {
  &.swiper-free-mode {
    .swiper-slide {
      transition-timing-function: ease-out;
    }
  }
  .swiper-slide {
    opacity: 0 !important;
    pointer-events: none;
    transition-property: opacity;

    .swiper-slide {
      pointer-events: none;
    }
  }
  .swiper-slide-active {
    opacity: 1 !important;

    &,
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
}

// Dots
ul.slick-dots {
  display: flex !important;
  align-items: center;
  flex-wrap: nowrap;
  height: $spacing * 1.5;
  list-style: none;
  margin-top: $spacing;
  padding: 0;

  li {
    border: 1px solid c('black');
    height: $spacing * .75;
    flex: 0 1 $spacing * 2;
    margin-bottom: 0px !important;
    position: relative;
    transition: all .1s ease;

    button {
      background-color: lighten(c('black'),20%);
      border: none;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 0px;
      padding: 0px;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      -webkit-appearance: none;
      
      &:focus, &:hover {
        background-color: lighten(c('black'),10%);
      }
    }
  }

}
// END / Dots


.swiper {
  width: 100%;
  visibility: hidden;
  
  @include breakpoint--medium {
    height: $spacing * 1.5;
  }

  &.swiper-initialized {
    visibility: visible;
  }
}
ul.swiper-wrapper {
  list-style: none;
  padding: 0px;
  width: auto;
}


/* Vertical Slider */
.slider-vertical {
  .col-1-3 {
    .slider-vertical__left .swiper-slide {
      font-size: $font__size--m;
    }
    
  }
  .col-1-2 {
    .slider-vertical__left .swiper-slide {
      font-size: $font__size--l;
    }
  }
  .col-1-3, 
  .col-1-2 {
    .slider-vertical__left .swiper-slide {
      @include breakpoint--medium-large {
        font-size: $font__size--m;
      }
      @include breakpoint--medium {
        font-size: $font__size--base;
      }
    }
  }
  .col-1-3, 
  .col-2-3 {
    @include breakpoint--medium-large {
      width: 50%;
    }
  }
  .col-1-2, 
  .col-1-3, 
  .col-2-3 {
    @include breakpoint--medium {
      width: 100%;
    }
  }
  
  &__left {
    display: flex;
    flex-direction: column;
    transform: perspective(30rem) rotateY(25deg);

    @include breakpoint--medium {
      flex-direction: row;
      margin-bottom: $spacing * 3;
      transform: perspective(0rem) rotateY(0deg);
    }

    &.swiper {
      height: 400px;
    }

    .swiper-slide {
      cursor: pointer;
      opacity: .64;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transform: scale(0.6, 0.6);
      transform-origin: center left;
      transition: opacity .1s ease, transform .1s ease;
      white-space: nowrap;
  
      @include breakpoint--medium {
        text-align: center;
        transform-origin: center center;
        white-space: initial;
      }
  
      &.swiper-slide-active {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    .swiper-slide {
      box-sizing: border-box;
      min-height: 280px;
      width: 100%;

      &:not(.swiper-slide-active) {
        .slick-dots {
          display: none !important;
        }
      }
    }
  }
  
  [class*="swiper-button"] {
    background-color: var(--header-color);
    border: 1px solid c('black');
    box-sizing: border-box;
    color: c('black');
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: $spacing * 3;
    width: 100%;
    padding: 0;

    /* ie fix */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-color: c('cream');
    }

    @include breakpoint--medium {
      height: 100%;
      width: unset;
    }

    &:focus {
      outline: none;

      svg {
        outline: 1px solid c('light-gray');
      }
    }
    &:hover, &:focus {
      background-color: lighten(c('cream'),6%);
      border: 1px solid c('light-gray');
    }
    &:active {
      background-color: c('cream');
      border: 1px solid c('black');
    }

    svg {
      height: $spacing * 2;
      min-width: $spacing;
      width: auto;

      @include breakpoint--medium {
        align-self: center;
        height: $spacing * 1.5;
        transform: rotateZ(-90deg);
      }
    }
  }
  
  .swiper-button-next {
    bottom: 0px;
    right: 0px;
    top: unset;

    @include breakpoint--medium {
      bottom: 0;
      top: initial;
    }
  }
  .swiper-button-prev {
    left: 0px;
    top: 1.4rem;

    @include breakpoint--medium {
      bottom: 0;
      top: initial;
    }
  }
}

#walkway.swiper {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    width: 72%;
    height: auto;
    max-height: 360px;

    @include breakpoint--medium {
      width: 60%;
    }

    path {
      stroke: var(--link-color);
      stroke-width: 1px;

      /* ie fix */
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        stroke: c('black');
      }
    }
  }
  .section {
    text-align: center;
    width: 100%; /* ie fix */
  }
}