.social-icons {
  border-top: 1px solid c('black'); 
  list-style: none;
  padding-top: $spacing * 2;

  ul {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 $spacing * -.25;
    padding: 0px;
    width: 100%;
  }

  li {
    max-width: $spacing * 2.4;
    padding: 0 $spacing * .25;
    transition: opacity .2s ease;
  }
  
  img {
    border-radius: 0px;
    transform: rotateZ(0deg);

    &:hover {
      transform: rotateZ(360deg);
      transform-origin: center center;
      transition: transform .2s ease;
    }
  }
}