.social-icons {
  background-color: c('cream');
  border-radius: $spacing;
  padding: $spacing;
    
  .wp-block-group__inner-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    &:hover {
      .wp-block-image {
        opacity: .5;
      }
    }
    
    .wp-block-image {
      padding: 0 $spacing * 1.4;
      max-width: $spacing * 2.4;
      transition: opacity .2s ease;

      @include between(600px, 781px) {
        padding: 0 $spacing;
      }

      &:hover {
        opacity: 1;
      }
    }
    
    img {
      border-radius: 0px;
    }
  }
}