@mixin accent-graphic {
  position: relative;

  &:before,
  &:after {
    background-color: c('cream');
    content: '';
    display: block;
    position: absolute;
    top: $spacing * -.8;
    right: 0;
    bottom: 0;
    left: $spacing * -.8;
    z-index: -10;
  }
  &:before {
    border-radius: 1.2rem;
    clip-path: polygon(
      0px 0px,
      100px 0px,
      0px 100px,
      0px 0px
    );
  }
  &:after {
    clip-path: polygon(
      calc(100px + #{$spacing / 2}) 0px,
      calc(100px + #{$spacing / 2} + #{$spacing / 2}) 0px,
      0px calc(100px + #{$spacing / 2} + #{$spacing / 2}),
      0px calc(100px + #{$spacing / 2})
    );
  }
}

// @mixin slant-cutout {
//   position: relative;
//   &:after {
//     background-color: c('white');
//     clip-path: polygon(
//       calc(100% - #{$spacing * 2}) 0px,
//       calc(100% - #{$spacing * 2} - #{$spacing / 2}) 0px,
//       calc(100% - #{$spacing * 4} - #{$spacing / 2}) 100%,
//       calc(100% - #{$spacing * 4}) 100%
//     );
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     width: 100%;
//   }
// }